<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>NewPizzeria</display-name>
  <welcome-file-list>
<!--    <welcome-file>home.jsp</welcome-file> -->
    <welcome-file>HomeServ</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>OrdineServ</display-name>
    <servlet-name>OrdineServ</servlet-name>
    <servlet-class>servlet.OrdineServ</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ContoServ</display-name>
    <servlet-name>contoServ</servlet-name>
    <servlet-class>servlet.ContoServ</servlet-class>
  </servlet>
</web-app>